*{
    margin: 0;
    padding: 0;
}
#box{
    width: 200px;
    height: 20px;
    border:1px solid silver;
    margin: 20px;
    position: relative;
}
p{
    text-align: center;
    font-weight:bold; 
    font-family:Georgia;
}
span{
    display: block;
    position: absolute;
    color:white;
    width: 200px;
    height: 20px;
    font-weight:bold; 
    font-family:Georgia;
    background: #00A1F5;
    text-align: center;
    top:0;
    clip:rect(0,0px,40px,0);
}
